.main_div {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  width: 400px;
  height: 70vh;
  background-color: chartreuse;
}
.center > h1 {
  text-align: center;
  background-color: cornflowerblue;
}
.input {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}
.plus {
  width: 90px;
  height: 90px;
  border-radius: 25px;
  text-align: center;
  background-color: cornflowerblue;
  margin-left: 10px;
}
